<section id="sliderOne" class="splide" aria-label="Splide Basic HTML Example">
  <div class="main-fonds">
      <div class="support-block">
          <h2 class="support-text">Support Ukraine</h2>
          <img src="images/Group 2.svg" alt="trident" width="20" height="32" class="support-img">
      </div>
      <div class="splide__track">
          <ul class="splide__list">
              
          </ul>
      </div>
      <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
              <svg class="icon icon-slider">
                <use xlink:href="#icon-slider"></use>
              </svg>
          </button>
      </div>
  </div>
</section>
<!-- <script type="module" src="fonds-ukraine.js"></script> -->
