 <div class="mobile-menu-container js-menu-container" data-modal>
        <div class="mobile-menu">
          <nav>
            <ul class="mobile-list-links">
              <li class="mobile-home-item">
                <a class="mobile-home js-close-menu-1" href="../index.html">Home</a>
              </li>
              <li class="shopping-list-mobile">
                <!--тут посилання на шопінг-лист,якщо він так буде називатися-->
                <a class="mobile-shoplist js-close-menu-2" href="./shopping-list.html"
                  >Shopping list
                  <svg class="shoplist-icon">
                    <use href="/images/uil_cart.svg#tasche"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div id="background-image-mobile"></div>
      </div>