<div class="mobile-menu-container js-menu-container" data-modal>
  <div class="mobile-menu">
    <nav class="navigation">
      <ul class="mobile-list-links">
        <li class="mobile-home-item">
          <a class="mobile-home js-close-menu-1" href="./index.html">Home</a>
        </li>
        <li class="shopping-list-mobile">
          <a class="mobile-shoplist js-close-menu-2" href="./shopping-list.html"
            >Shopping list</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div id="background-image-mobile"></div>
</div>
