<div class="mobile-menu-container js-menu-container" data-modal>
  <div class="mobile-menu">
    <nav>
      <ul class="mobile-list-links">
        <li class="mobile-home-item">
          <a class="mobile-home js-close-menu-1" href="./index.html">Home</a>
        </li>
        <li class="shopping-list-mobile">
          <a class="mobile-shoplist js-close-menu-2" href="./shopping-list.html"
            >Shopping list<span
              class="mobile-bag-icon"
              href="./shopping-list.html"
            >
              <svg class="bag-icon" width="20" height="20">
                <use href="/images/sprite.svg#icon-bag"></use>
              </svg> </span
          ></a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="background-image-mobile"></div>
</div>
