/*  Стилі статичної розмітки */
.field-title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.08;

    margin-top: 100px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 40px;
  }
}


/* Стилі динамічної розмітки */
.books {
  cursor: pointer;
  margin-bottom: 40px;

  img {
    width: 335px;
    border-radius: 8px;

    margin-bottom: 14px;

    @media screen and (min-width: 768px) {
      max-width: 218px;
      height: 316px;
    }
    @media screen and (min-width: 1440px) {
      width: 180px;
      height:256px;
    }
  }

  h3 {
    font-weight: 700;
    margin-bottom: 4px;

    line-height: 1.25;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111111;
  }

  p {
    font-size: 12px;
    line-height: 1.16;
    font-style: italic;
    color: #b4afaf;
  }

  .books:last-child {
    margin-bottom: 0px;
  }
}

.dedicated-category {
  font-weight: 700;
  font-size: 18px;
  color: #4f2ee8;
  text-transform: uppercase;
  
  line-height: 1.125;
}
.highlighted-word {
  color: #4f2ee8;
}