@import url('./reset.css');

.shopping {
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
  color: #111111;
  margin-top: 40px;
}

.shopping-div {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-bottom: 40px;
}

.hidden-support-list {
  display: none;
}

.hidden-shop-list {
  display: none;
}

.top-item-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.js-remove {
  background-color: #4f2ee8;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home-link-menu,
.home-link {
  background: none;
}

.span-list {
  color: #4f2ee8;
}

.empty-cart-notification {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #00000099;
  width: 244px;
}

.shop-img {
  width: 100px;
  height: 142px;
  padding: 14px;
  border-radius: 8px;
}

.shopping-list-item {
  width: 335px;
  height: 170px;
  display: flex;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
}

.container-shops-list {
  padding-left: 20px;
}

.shopping-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.shopping-list-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #111111;
}

.shop-item-div {
  padding: 14px 14px 14px 0;
  width: 193px;
}

.shopping-list-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 14px;
}

.shopping-list-author {
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.book-links {
  display: flex;
  gap: 8px;
}

.author-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.support-shopping-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 335px;
  margin: 0 auto;
  padding: 0 20px;
}

/* .container {
        width: 375px;
        margin: 0 auto;
    } */

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  /* .container {
        width: 768px;
        padding: 0;
    } */

  .container-shops-list {
    padding-left: 32px;
  }
  .support-shopping-section {
    justify-content: flex-start;
    width: 704px;
    padding: 0 32px;
  }

  .amazon {
    width: 48px;
    height: 15px;
  }

  .apple-book {
    width: 28px;
    height: 28px;
  }

  .book-shop {
    width: 32px;
    height: 32px;
  }

  .shopping-list-item {
    width: 704px;
    height: 213px;
  }

  .shopping-div-svg {
    width: 704px;
  }

  .shopping-div {
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 140px;
  }

  .shopping {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
  .cart {
    margin-right: auto;
    margin-left: auto;
    margin-top: 140px;
    width: 349px;
  }

  .shop-item-div {
    width: 508px;
    padding: 24px 24px 24px 0;
  }

  .shop-img {
    padding: 24px;
    width: 116px;
    height: 165px;
  }
}

@media screen and (min-width: 1440px) {
  /* .container {
        width: 1440px;
        padding: 0;
    } */

  .container-shops-list {
    padding-left: 40px;
  }

  .hidden-support-list {
    display: flex;
  }

  .hidden {
    display: flex;
    width: 356px;
    height: 474px;
  }

  .shopping-div {
    display: flex;
    margin-top: 40px;
    width: 996px;
  }
  .shopping-div-support {
    padding-left: 24px;
  }

  .shopping-div {
    padding: 0;
    margin-bottom: 0;
    width: 996px;
  }

  .support-shopping-section {
    padding: 0 24px;
    width: 1392px;
    justify-content: center;
    align-items: flex-start;
  }

  .shopping-list-item {
    width: 996px;
  }

  .shopping {
    width: 996px;
    margin-top: 0;
  }

  .shop-item-div {
    width: 808px;
  }

  .support-shopping-section {
    margin-top: 40px;
    margin-bottom: 140px;
  }
}

/*dark*/
.theme-dark .home-link {
  color: #ffffff;
}

.theme-dark .shopping-list-text {
  color: #ffffff;
}

.theme-dark .shopping {
  color: #ffffff;
}

.theme-dark .empty-cart-notification {
  color: #ffffff;
}

.theme-dark .shopping-list-title {
  color: #ffffff;
}

.theme-dark .shopping-list-item {
  background-color: #111111;
}

.theme-dark .shopping-list-text {
  color: #ffffff;
}

.theme-dark {
  background-color: rgba(32, 32, 36, 1);
}
